<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercicio01</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="exercicio01.js"></script>
  </head>

  <body ng-app="angularjs">
    <div ng-controller="coisa">
      <label for="nome">Nome: </label>
      <input type="text" ng-model="pokemon.nome" placeholder="nome do pokemon">
      <hr>
      <h2>{{ pokemon.nome }}</h2>
      <h2>{{ pokemon.id }}</h2>
    </div>

    <div ngcontroller="exemplo02" class="">
      <label for="">Nome: </label>
      <input type="text" ng-model="pokemon.nome" name="" value="">

      <ul>
        <li>
        </li>
      </ul>
    </div>
  </body>
</html>
