<!DOCTYPE html>
<html ng-app="angularjs">

<head>
  <title>Correção Tema</title>
</head>

<body>

  <div ng-controller="controller">

    <h2>Lista Pokemon</h2>
    <label for="nome">Filtro por Nome</label>
    <input type="text" name="nome" ng-model="filtro.nome">

    <label for="nome">Filtro por Tipo</label>
    <input type="text" name="nome" ng-model="filtro.tipo">

    <ul>
      <li ng-repeat="pokemon in listaPokemon | filter: filtro">
        {{ pokemon.nome }}<br>  Tipo: {{ pokemon.tipo }}
      </li>
    </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="exercicio01.js"></script>
</body>

</html>