<form novalidate name="formCliente">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input ng-model="cliente.Nome" required type="text" class="form-control" placeholder="Nome" required>
    </div>
    <div class="form-group">
        <label for="endereco">Endereço</label>
        <input ng-model="cliente.Endereco" required type="text" class="form-control" placeholder="ex.: Avenida X número 100">
    </div>
    <div class="form-group">
        <label for="cpf">Cpf</label>
        <input ng-model="cliente.CPF" required type="text" class="form-control" placeholder="11 dígitos, somente números">
    </div>

    <label>Sexo: </label>
    <div class="radio">
      <label><input type="radio" name="sexo" ng-model="cliente.Genero" value="m" required>Masculino</label>
      <label><input type="radio" name="sexo" ng-model="cliente.Genero" value="f" required>Feminino</label>
      <label><input type="radio" name="sexo" ng-model="cliente.Genero" value="nd checked" required>Não informado</label>
    </div>

    <div class="form-group">
        <label for="dataNascimento">Data de Nascimento</label>
        <input ng-model="cliente.DataNascimento" required type="date" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="salvar(cliente)">Salvar</button>
</form>
